@use 'styles/vars';

header {
    height: 80px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 80px;
    }
}

.logo-text {
    div {
        font-size: 20px;
        font-weight: 700;
        color: #BD765C;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2px;
    }
    span {
        font-weight: 700;
        color: #BD765C;
        font-family: 'Open Sans', sans-serif;
    }
}

.nav-bar {
    display: flex;

    li {
        padding: 10px 15px;
        margin: 8px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #341d1e;
        font-size: 16px;
    }

    .contact-button {
        color: white;
        background-color: #BD765C;
        border-radius: 10px;
    }
}